<!doctype html>
<html lang="en">

<head>
	<title>Rest Tracker APP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="manifest" href="/public/html/manifest.json"> 


	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/loginstyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


	<script src="/public/js/main.js"></script>

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">

					<h2 class="heading-section" style="margin-top:5px">
						<img id="app-logo" src="/public/images/logo.jpg"
						 />
					
					</h2>

			</div>

			<div class="row justify-content-center">

				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<!-- <div class="img" style="background-image: url(/public/images/bg-1.jpg);"></div> -->
						<div id="signin-div" class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign In</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-facebook"></span></a>
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div>
							<form action="/signin" class="signin-form" method="post" onsubmit="return saveUsername()">
								<!-- <div class="form-group mt-3">
									<input type="email" class="form-control" id="email" name="email" required>
									<label class="form-control-placeholder" for="email">Email</label>
								</div> -->
							
								<div class="form-group mt-3">
									<input type="text" class="form-control" id="username" name="username" required>
									<label class="form-control-placeholder" for="username">App Id</label>
								</div>
								
								<div class="form-group">
									<input id="password" type="password" class="form-control" name="password" required>
									<label class="form-control-placeholder" for="password">Password</label>
									<span toggle="#password-field"
										class="fa fa-fw fa-eye field-icon toggle-password" onclick="togglePassword()"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
										In</button>
								</div>
								<div class="form-group d-md-flex" >
									<div class="w-50 text-left">
										<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
											<input type="checkbox" name="remember" id="remember" checked>
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- <div class="w-50 text-md-right">
										<a href="#" onclick="showPasswordReset()">Forgot Password</a>
									</div> -->
								</div>
							</form>
							<div style="font-weight:bold; color:red; font-size:20px">
								<%= message %>
							</div>

							<div style="background-color:lawngreen; text-align:center; font-weight:bold">Note</div>
							<div style="background-color: cornsilk;padding:5px">
								Your password will be your date of birth using an 8-digit format. This is <strong>MMDDYYYY</strong>. That is 2 digits for the month, 2 digits for the day and 4 digits for the year.
								For example if you were born March 2nd 1960, your first-time password will be 03021960.
							</div>
							<!-- <p class="text-center">Not a member? <a data-toggle="tab" href="#" onclick="showSignUp()">Sign Up</a></p> -->
						</div>
						<div id="signup-div" class="login-wrap p-4 p-md-5" style="display:none">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign Up</h3>
								</div>
							</div>
							<form action="/signup" class="signin-form" method="post"  onsubmit="return validateConfirmPassword()">
								<!-- <div class="form-group mt-3">
									<input type="text" class="form-control" id="signup_username" name="username" 
									pattern="^[a-zA-Z0-9]+$" title="Only alphanumeric" 
									required>
									<label class="form-control-placeholder" for="signup_username">Username</label>
								</div> -->
								<div class="form-group">
									<input type="email" class="form-control" id="signup-email" name="email" required>
									<label class="form-control-placeholder" for="signup-email">Email</label>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="firstname" name="firstname" required>
									<label class="form-control-placeholder" for="firstname">Firstname</label>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="lastname" name="lastname" required>
									<label class="form-control-placeholder" for="lastname">Lastname</label>
								</div>

								<div class="form-group">
									<input type="password" class="form-control" id="newpassword"
										name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$|^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" title="Minimum eight characters, at least one uppercase letter, one lowercase letter and one number" required>
									<label class="form-control-placeholder" for="newpassword">Password</label>
									<span toggle="#newpassword"
									class="fa fa-fw fa-eye field-icon toggle-password" onclick="togglePassword()"></span>
								</div>

								<div class="form-group">
									<input type="password" class="form-control" id="confirm_password" name="confirm_password" 
									 required>
									<label class="form-control-placeholder" for="confirm_password">Confirm Password</label>
								</div>

								<div class="form-group">
									
									<label  for="dob">Date of Birth (M/D/YYYY)</label>
									<input type="text" class="form-control" id="dob" name="dob" placeholder="M/D/YYYY" required>
								</div>

								<div class="form-group" style="font-weight:bold">
									<label for="gender">Gender</label> <br/>
									<select class="form-control" name="gender" id="gender" >
										<option value="female">Female</option>
										<option value="male">Male</option>										
									  </select>									
								</div>

																<!-- <div class="form-group d-md-flex">
									<div class="w-50 text-left">
										<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
											<input type="checkbox" name="remember" checked>
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>

								</div> -->

								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign	Up</button>
								</div>

							</form>
							<div id="note" style="font-weight:nold; color:red">
								<%= message %>
							</div>
							<p class="text-center">Already a member? <a data-toggle="tab" href="#" onclick="showSignIn()">Sign In</a></p>
						</div>

						<div id="password-reset-div" class="login-wrap p-4 p-md-5" style="display:none">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Forgot Password</h3>
								</div>
							</div>
							<form action="/forgot-password" class="signin-form" method="post">
								<div class="form-group mt-3">
									<input type="email" class="form-control" id="forgot_email" name="email" required>
									<label class="form-control-placeholder" for="forgot_email">Email</label>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Request Password Reset
										</button>
								</div>

							</form>
							<div style="font-weight:nold; color:red">
								<%= message %>
							</div>
							<p class="text-center">Already a member? <a data-toggle="tab" href="#" onclick="showSignIn()">Sign In</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		document.getElementById("username").value =	localStorage.getItem("resttrackerapp-username")
		document.getElementById("password").value =	localStorage.getItem("resttrackerapp-password")	

		function togglePassword(){
			(document.getElementById("password").type =="text")?
		document.getElementById("password").type ="password" : document.getElementById("password").type ="text";
		}

//		localStorage.removeItem("rest-tracker-app-profile");

	</script>
</body>

</html>