<!doctype html>
<html lang="en">

<head>
	<title>Rest Tracker APP - Onboarding Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="manifest" href="/public/html/manifest.json"> 


	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/loginstyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


	<script src="/public/js/main.js"></script>

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">

					<h2 class="heading-section" style="margin-top:5px">
						<img id="app-logo" src="/public/images/logo.jpg"
						 />
					
					</h2>

			</div>

			<div class="row justify-content-center">

				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<!-- <div class="img" style="background-image: url(/public/images/bg-1.jpg);"></div> -->
						<div id="signin-div" class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Onboarding Sign In</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-facebook"></span></a>
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div>
							<form action="/signin-onboarding" class="signin-form" method="post" onsubmit="return saveUsername()">
								<!-- <div class="form-group mt-3">
									<input type="email" class="form-control" id="email" name="email" required>
									<label class="form-control-placeholder" for="email">Email</label>
								</div> -->
							
								<div class="form-group mt-3">
									<input type="text" class="form-control" id="username" name="username" required>
									<label class="form-control-placeholder" for="username">User</label>
								</div>
								
								<div class="form-group">
									<input id="password" type="password" class="form-control" name="password" required>
									<label class="form-control-placeholder" for="password">Password</label>
									<span toggle="#password-field"
										class="fa fa-fw fa-eye field-icon toggle-password" onclick="togglePassword()"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
										In</button>
								</div>

								<input type="hidden" id="login_onboarding" name="login_onboarding" value="true">

								<div class="form-group d-md-flex" >
									<div class="w-50 text-left">
										<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
											<input type="checkbox" name="remember" id="remember-onboarding" checked>
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- <div class="w-50 text-md-right">
										<a href="#" onclick="showPasswordReset()">Forgot Password</a>
									</div> -->
								</div>
							</form>
							<div style="font-weight:bold; color:red; font-size:20px">
								<%= message %>
							</div>
							<!-- <p class="text-center">Not a member? <a data-toggle="tab" href="#" onclick="showSignUp()">Sign Up</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		document.getElementById("username").value =	localStorage.getItem("resttrackerapp-username-onboarding")
		document.getElementById("password").value =	localStorage.getItem("resttrackerapp-password-onboarding")	

		function togglePassword(){
			(document.getElementById("password").type =="text")?
		document.getElementById("password").type ="password" : document.getElementById("password").type ="text";
		}

//		localStorage.removeItem("rest-tracker-app-profile");

	</script>
</body>

</html>