.sd-page {
    padding:0px !important;
    padding-top: 25px  !important;
}

.sd-btn{
    padding:calc(2 * var(--base-unit, 8px)) calc(6 * var(--base-unit, 8px)) !important
}


.back-btn{
    padding:5px; 
}

